body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
}

#game {
    position: relative;
    width: 800px;
    height: 400px;
    background-image: url('1.background.png');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: scrollBackground 5s linear infinite;
}

@keyframes scrollBackground {
    from { background-position: 0 0; }
    to { background-position: -800px 0; }
}


#mario {
    position: absolute;
    bottom: 0;
    left: 75px;
    width: 75px;
    height: 75px;
    background-image: url('2.Mario.png');
    background-size: cover;
}

#obstacle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('3.Mashroom.png');
    background-size: cover;
    animation: moveObstacle 2s infinite linear;
}
@keyframes moveObstacle {
    from { right: -50px; }
    to { right: 850px; }
}

.jump {
    animation: jumpMario 0.5s ease-out;
}

@keyframes jumpMario {
    0% {
        bottom: 0;
        transform: rotate(0deg); /* Mario อยู่ตรง */
    }
    40% {
        bottom: 150px; left: 50px;/* ค่อย ๆ กระโดดขึ้น */
        transform: rotate(-15deg); /* เอียงไปข้างหลังเล็กน้อย */
    }
    70% {
        bottom: 175px; left: 100px; /* จุดสูงสุด */
        transform: rotate(0deg); /* กลับมาตรง */
    }
    100% {
        bottom: 0px; left: 150px; /* กลับลงพื้น */
        transform: rotate(20deg); /* เอียงไปข้างหน้า */
    }

}
